{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block style %}
<style>
    
</style>
{% endblock style %}

{% block body %}
<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">EQSecurityApp</a>
      <form class="d-flex" role="refresh" action="apis/refresh/">
        <button class="btn btn-outline-success" type="submit">Refresh</button>
      </form>
    </div>
</nav>

<main>
    <div class="col-lg-12 text-center mt-5 align-items-center">
        <h1>Stock Search Box </h1>
      </div>
      <form action="/" method="post">
        {% csrf_token %}
      <div class="col-md-4 offset-md-4 mt-5 pt-3">
      <div class="input-group mb-3" style="position: relative;">
        <input type="text" id="stockPick" class="form-control" placeholder="Search ......" aria-label="Stock" name='stockPick'>
        <div class="m-3 input-group-append">
          <button type="submit" class="btn btn-success input-group-text">Search</button>
        </div>
        </form>
        </div>
        <!-- <div class="stockRecommend border border-warning m-3"></div> -->
      </div>
</main>

{% if eqsec %}
<script>
    eqsec = {{eqsec|safe}}
    var stockPick = eqsec ;
    // $(".stockRecommend")
    $("#stockPick").autocomplete({
        source: stockPick
    });

</script>
{% endif %}

{% endblock body %}