{% extends 'base.html' %}
{% block body %}

<main class="d-flex container-fluid justify-content-center">
    <div class="card" style="width: 80%; height: 75%">
        <h1 class="card-header stockSymb"></h1>
        <div class="card-body">
          <h5 class="card-title stockName"></h5>
          <div class="card-text">
                Series: <p class="series"></p>
                Date: <p class="date"></p>
                Face Value: <p class="value"></p>
                ISIN: <p class="isin"></p>
          </div>
      </div>
    </div>
      <div class="card" style="width: 80%; height: 75%">
        <h1 class="card-header"> Bhav Chat of <span class="stockName"></span> </h1>
        <div class="card-body">
          <div class="card-text">
                Date: <h5 class="card-title date"></h5>
                Previous Close: <p class="prev_close"></p>     Open Price: <p class="open_price"></p>
                High Price: <p class="high_price"></p>         Low Price: <p class="low_price"></p>
                Last Price: <p class="last_price"></p>         Close Price: <p class="close_price"></p>
                TTL TTD Quantity: <p class="ttl_qnty"></p>         Average Price: <p class="avg_price"></p>
                Turnover(In Lakhs): <p class="turnover"></p>         No. of Trades: <p class="trades"></p>
                Delievery Quantity: <p class="deliv_qty"></p>         Delievery PER: <p class="deliv_per"></p>
          </div>
      </div>
    </div>
</main>

{% if pk %}
<script>
let stockData;

$.get( "http://localhost:8000/apis/stock/{{ pk|safe }}/?format=json", function( data ) {
    $(".stockName").html(data.name)
    $(".stockSymb").html(data.symbol)
    $(".series").html(data.series)
    $(".date").html(data.date)
    $(".value").html(data.value)
    $(".isin").html(data.isin)
});

$.get( "http://localhost:8000/apis/bhav/{{ pk|safe }}/?format=json", function( data ) {
    $(".date").html(data.date);
    $(".prev_close").html(data.prev_close);
    $(".open_price").html(data.open_price);
    $(".high_price").html(data.high_price);
    $(".low_price").html(data.low_price);
    $(".last_price").html(data.last_price);
    $(".close_price").html(data.close_price);
    $(".avg_price").html(data.avg_price);
    $(".ttl_qnty").html(data.ttl_qnty);
    $(".turnover").html(data.turnover);
    $(".trades").html(data.trades);
    $(".deliv_qty").html(data.deliv_qty);
    $(".deliv_per").html(data.deliv_per);  
});



</script>
{% endif %}
{% endblock body %}
